# Trabajo Fin de Estudios - TFE
Master Universitario en Inteligencia Artificial

**Iv√°n Daniel Ar√©valo S√°nchez**
***

## Preparaci√≥n de dataSets

Se hace la importaci√≥n del DataSet obtenido de Facebook, con t√©cnica de Web Scraping.

In [1]:
## Importaci√≥n de librer√≠as
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split

from sklearn.neighbors import KNeighborsClassifier

**PASO 1**

Importaci√≥n de DataSet

In [103]:
data_facebook = pd.read_json(r'201209_json_result_scraping.json')
data_facebook.head(2)

,flag_study_actually,followers,friend,job,me,name,name_user_sub,number_friends,study_finish,live,joined_in,study_actually
0,0,700 seguidores,dany.segura.5036,jefe en general en instituto neurologico mi pr...,100005384446385,Juancho G√≥mez,,,Estudi√≥ en Miguel de Cervantes,NaN,NaN,NaN
1,0,NaN,bryanfelipe.ausiquecastellanos,Trabaj√≥ en Club El Nogal,100008067576555,Gonzalo Valderrama,,260,Estudi√≥ en Colegio Atanasio Girardot,Vive en Bogot√°,NaN,NaN

**PASO 2**

Se convirten las variables que son categoricas en variables num√©ricas.

In [85]:
### OPERACIONES BASICAS CON PANDAS ###

## Creaci√≥n de variables num√©ricas de variables categoricas
## Se supone es que los datos en las variables categoricas sean los mismos para poderlos etiquetar
# pd.get_dummies(data_facebook, columns=['number_friends'], drop_first=True)

# data_facebook.describe()
data_facebook.dtypes
# data_facebook.columns
# data_facebook[120:125] ## traer una parte de los registros
# data_facebook[['info_study_actually','me']] ## Traer algunas columnas
# data_facebook.loc[10:20, ['me','study_finish']] ## Trae algunas columns y filas
# data_facebook.loc[100] # ['live'] ## Trae un campo en las filas

## Procesado de los datos
# data_facebook.loc[data_facebook['study_actually'].isnull(), 'info_study_actually'] = 0
# data_facebook.loc[['info_study_actually']]

# data_facebook['study_actually'].isnull().values.any() ## Si hay alguno
# data_facebook['study_actually'].isnull().values.sum() ## Suma de Nulos
# data_facebook['study_actually']

# data_facebook[['info_study_actually','me']]
# data_facebook.loc[data_facebook['info_study_actually'] == 1]
# data_facebook.head(2)

flag_study_actually     int64
followers              object
friend                 object
job                    object
me                     object
name                   object
name_user_sub          object
number_friends         object
study_finish           object
live                   object
joined_in              object
study_actually         object
dtype: object

In [104]:

# data_facebook.to_excel('jsondata.xlsx')
# data_facebook
# data_facebook.sort_values('flag_study_actually', inplace = True)
data_facebook

## Filtro por valor en campo
# data_facebook[data_facebook['flag_study_actually'] == 1]

# data_facebook['name_user_sub'] = 10

,flag_study_actually,followers,friend,job,me,name,name_user_sub,number_friends,study_finish,live,joined_in,study_actually
0,0,700 seguidores,dany.segura.5036,jefe en general en instituto neurologico mi pr...,100005384446385,Juancho G√≥mez,,,Estudi√≥ en Miguel de Cervantes,NaN,NaN,NaN
1,0,NaN,bryanfelipe.ausiquecastellanos,Trabaj√≥ en Club El Nogal,100008067576555,Gonzalo Valderrama,,260,Estudi√≥ en Colegio Atanasio Girardot,Vive en Bogot√°,NaN,NaN
2,0,NaN,fabianstiven.salgado,Estudi√≥ en Colegio La Asuncion,100008369441511,Stefannia Reyes,,846,Estudi√≥ en Colegio La Asuncion,Vive en Sibat√©,Se uni√≥ en: Junio de 2014,NaN
3,0,143 seguidores,fabianstiven.salgado,Estudi√≥ en institucion educativa departamental...,100008380956303,MV Yeya,mi fe es grande ante Dios y el Espiritu santo ...,,Estudi√≥ en institucion educativa departamental...,Vive en Bogot√°,NaN,NaN
4,1,NaN,dany.segura.5036,Trabaja en Facebook App,100008822409233,Vanesa Daza,,3529,Estudi√≥ en San Miguel High School,Vive en Sibat√©,NaN,Estudia en liceo samper uribe
...,...,...,...,...,...,...,...,...,...,...,...,...
132,0,NaN,dany.segura.5036,Trabaja en Facebook App,williamfarid.parraanzola,William Farid Parra Anzola,‚Ç©√Æ≈Ç≈Ç√Æ√¢müòåüñ§üê°1~1~2ü•∫üñ§#09~üêØ~üêº‚ù§,662,Estudi√≥ en colegio departamental de sibate,Vive en Sibat√©,NaN,NaN
133,0,NaN,bryanfelipe.ausiquecastellanos,Trabaj√≥ en textiles konkord,yesmith.beltran,Yesmith Karina Ausique Beltran,,489,Estudi√≥ en institucion educativa departamental...,Vive en Sibat√©,NaN,NaN
134,0,NaN,bryanfelipe.ausiquecastellanos,Independiente,yolanda.adames.7140,Yolanda Adames,,134,Estudi√≥ en Colegio Parroquial La Asunci√≥n,Vive en Bogot√°,NaN,NaN
135,0,NaN,bryanfelipe.ausiquecastellanos,Vive en Soacha,yolanda.nino.167,Yolanda Ni√±o,soy ama de casa,367,NaN,Vive en Soacha,Se uni√≥ en: Enero de 2018,NaN
136,0,NaN,dany.segura.5036,Estudi√≥ en Instituci√≥n Educativa Departamental...,zorey.vanegas,Zorey Vanegas,,,Estudi√≥ en Instituci√≥n Educativa Departamental...,Vive en Sibat√©,NaN,NaN